
<div class="container">
   <a class="navbar-brand" href="#">Slak</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item"><a class="nav-link" href="users.html">Users</a></li>
         <li class="nav-item"><a class="nav-link" href="channels.html">Channels</a></li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Other </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Action</a> 
               <a class="dropdown-item" href="#">Another action</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="home.html">Home</a>
               <a class="dropdown-item" href="form.html">Form Test</a>
               <a class="dropdown-item" href="css_test.html">Css Test</a>
               <a class="dropdown-item" href="#">Services</a>
               <a class="dropdown-item" href="#">Contact</a>
               <a class="dropdown-item" href="eval/jqtable.html">jqtable</a>
               <a class="dropdown-item" href="eval/jqtable2.html">jqtable2</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">Something else here</a> 
               <a class="dropdown-item" href="eval/learnjavascript.html">Learn Javascript</a> 
               <a class="dropdown-item" href="eval/require.html">Learn Require</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="eval/account.html">account</a>
               <a class="dropdown-item" href="eval/list1.html">list 1</a>
               <a class="dropdown-item" href="eval/listforms.html">lists & forms</a>
               <a class="dropdown-item" href="eval/login.html">login</a>
               <a class="dropdown-item" href="eval/jqtable.html">jqtable</a>
               <a class="dropdown-item" href="eval/jqtable2.html">jqtable2</a>
               <a class="dropdown-item" href="eval/jqform.html">jqform</a>
               <a class="dropdown-item" href="eval/testcombo.html">testcombo</a>
               <a class="dropdown-item" href="eval/testcombo2.html">testcombo2</a>
            </div>
         </li>
         <li class="nav-item"><a class="nav-link invisible"
            href="login.html">Login</a></li>
         <li class="nav-item"><a class="nav-link invisible"
            href="login.html">Login</a></li>
      </ul>
   </div>
</div>


