

.kbutton-image:after {
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 3px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}


.tune1 {
    background-color: #EBABEB;
    padding: 5px 1px 1px 5px;
}

.tune2 {
    background-color: #EBEBEB;
    padding: 5px 1px 1px 55px;
}

.tune3 {
    background-color: #ABBAEA;
    padding: 5px 1px 1px 5px;
}

.tune4 {
    background-color: #FBD603;
    padding: 5px 1px 1px 55px;
}

.tune5 {
    background-color: #ABBAEA;
    padding: 20px;
}

.dp_matrix {
    background-color: white;
    padding: 2px;
    min-width: 400px;
}

.tune6 {
    background-color: #ABD803;
    padding: 5px 1px 50px 5px;
}

.tune7 {
    background-color: #ABBAEA;
    padding: 5px 1px 50px 5px;
}

.tune8 {
    background-color: #EBEBEB;
    padding: 5px 1px 50px 5px;
}

.tune9 {
    background-color: #EBAB1B;
    padding: 5px 1px 50px 5px;
}


.runners {
    padding: 5px 1px 1px 5px;
}


textarea.foo {
  width: 170px;
  height: 60px;
  min-height: 60px;
  display: block;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.d_detail{
  background-color: #ebe1e1;
}


fieldset {
  background-color: #ebe1e1;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}